@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-primary: #652bdf;
    --color-secondary-light: #f0eafc;
    --color-dark: #360c72;
    --color-background: #fcfbff;
    --color-darktext: #2b2b2b;
    --color-lighttext: #6a6a6a;
    --color-purewhite: #ffffff;
    --color-shadow:#e7eaed;
}
body {
    background-color: var(--color-background);
    font-family: 'Inter', sans-serif;
    vertical-align: baseline;
    padding-top: 82px; /*para que el contenido no quede debajo del header fijo*/
}
footer {
    background-color: var(--color-purewhite);
    padding: 24px 0;
    margin-top: 40px;
}
h2 {
    color: var(--color-darktext);
    font-size: 40px;
    font-weight: 700;
    line-height: 2.350rem; /*pq era la medida del sitio qunaue aqui no lo declaramos*/
}
h3 {
    color: var(--color-darktext);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25em;
} /* en el sitio eran variantes de h2 pero yo elijo llamrlos h3 x orden*/
h4 {
    color: var(--color-darktext);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5em;
}
p {
    color: var(--color-lighttext); /*aunque a veces cambia*/
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
}
.header-desktop{
    background-color: var(--color-purewhite);
    z-index: 99;
    border-bottom: 1px solid var(--color-shadow);
    position: fixed;
    padding-top: 20px; /*en la pagina es 16 pero no funcionaba aca x el logo*/
    padding-bottom: 16px;
    min-height: 82px;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
}
.header-mobile {
    display: none;
}
.burger-btn, .logo-header-mbl {
    display: none;
}
.navlink4 { /*pq se ve igual que h4*/
    color: var(--color-darktext);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;
    text-decoration: none;
    border-radius: 50px;
    margin: 0 4px;
    padding: 6px 24px;
}
.navlink4:hover {
    color: var(--color-primary);
    background-color: var(--color-secondary-light);
}
.headerwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1022px;
    margin: 0 auto;
}
.group-a {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    border-right: 0.5px solid var(--color-lighttext);
    padding-right: 20px;
}
.ulmenu {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.ulmenudos {
    display: flex;
    flex-direction: row;
    gap: 2px;
    list-style: none;
    margin-left: auto;
}
.btnhead1, .btnhead2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 50px;
    margin: 0 4px;
    padding: 10px 24px;
    min-height: 41px;
    min-width: 160px;
}
.btnhead1 {
    border: 1px solid var(--color-primary);
}
.btnhead1:hover {
    background-color: var(--color-secondary-light);}
.btnhead2 {
    background-color: var(--color-primary);
    color: var(--color-purewhite);
    border: 1px solid var(--color-primary);
}
.btnhead2:hover {
    background-color: var(--color-secondary-light);
    color: var(--color-primary);
    border: solid 1px var(--color-primary);
}
/*DIV ARTICULOS*/
.bienvenida {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 1022px;
    margin: 40px auto;
}

.title{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.articlelayout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;    
    background-color: var(--color-purewhite);
    padding: 24px;
    border-radius: 16px;
    margin: 12px;
    min-height: 184px;
    transition: transform 0.3s ease-out; /*no entiendo pq no va directamente en hover*/
    flex-grow: 1; /*esto lo copie del sitio para que los tres ocupen el mismo ancho*/
}
.articlelayout:hover {
    transform: translateY(-5px);
}
.icono-back {
    width: 24px;
    height: 24px;
    fill: var(--color-primary);
}
.icono-back:hover {
    fill: var(--color-dark);
}
.iconbkg {
    width: 62px;
    height: 62px;
    background-color: var(--color-secondary-light);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*DIV COBROS*/
.cobros {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.parent-cobros {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    max-width: 1022px;
    margin: 0 auto;
}
.singlecobro {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 32px;
    align-items: center;
    background-color: var(--color-purewhite);
    padding: 24px;
    border-radius: 16px;
    background-color: var(--color-purewhite);
}
.text-cobro {
    flex: 1; /*para que ocupe todo el espacio disponible, esto lo investigue */
    gap: 21px;
    display: flex; /*dato para mi: sino no se activa el gap*/
    flex-direction: column;
}
.text-cobro p{
    color: var(--color-darktext)
}
.imgcobro {
    flex: 0 0 475px; /* dato para mi : no se mueve + tamano fijo*/
    transition: transform 0.3s ease-out;
}
.imgcobro:hover {
    transform: translateY(-5px);
}
.imgcobro img {
    width: 100%;
    height: 375px;
    object-fit: cover;
    display: block;
}
.imgcobrodos{
    width: 475px;
    height: 375px;
    object-fit: cover;
    display: block;
}
.sc-left {
    flex-direction: row-reverse;
}
.link-cobro-btn {
    background: transparent;
    border: none;
    color: var(--color-dark);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    justify-content: flex-start;
    padding: 14px 0;
}
.link-cobro-btn:hover {
    color: var(--color-primary);
    text-decoration: underline;
}
/*FOOTER*/ /*no use grid pq no lo vimos en clase*/
.links-footer {
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    max-width: 1022px;
    align-items: flex-start;
    gap: 32px;
    margin: 0 auto;
}
.column-footer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 50%;
    justify-content: space-evenly;
    align-items: flex-start;
}
.links-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
}
.links-footer ul li {
    margin: 8px 0;
}
.links-footer ul li a {
    color: var(--color-darktext);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    text-decoration: none;
}
.links-footer ul li a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}
.titleli {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-darktext);
}
footer > div {
    max-width: 1022px;
    margin: 0 auto;
}
/*RESPONSIVE SOLO A MBL*/
@media screen and (max-width: 480px) { /*dato para mi : pq screen?*/
    body {
        padding-left: 12px;
        padding-right: 12px; /*lo nombre asi para no mezclarlo con el de 82px del desktop*/
    }
    footer {
        margin: 40px -12px; /*es esto una locura ? No vimos grid, que es como etsa resuelto en la pagina oficial, entonces asumo que debo resolver con flex*/
        background-color: var(--color-purewhite);
    }
    h2 {
        font-size: 30px;
        line-height: 2.25rem;
    }
    h3 {
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
    .header-desktop {
        display: none;
    }
    .header-mobile {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 72px; 
        background-color: var(--color-purewhite);
        z-index: 99;
        border-bottom: 1px solid var(--color-shadow);
        align-items: center;
        justify-content: center;
    }
    .nav-mobile {
        display: flex;
        align-items: center;
        height: 100%;
        width: 90%;
    }
    .burger-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    margin-right: auto;
    position: relative;
    }
    .logo-center {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .logo-header-mbl {
        height: 40px;
        display: block;
    }
    /*BIENVENIDA*/
    .bienvenida {
    width: 100%;
    }
    .bienvenida h2, .cobros h2 {
        text-align: center;
        justify-content: center;
    }
    /*COBROS*/
    .parent-cobros {
    max-width: 100%;
    margin: 0 12px;
    }
    .articles {
        flex-direction: column;
    }
    .singlecobro {
        display: flex;
        flex-direction: column;
        
    }
    .singlecobro > div:first-child { /*esto googleado pq no lo podia hacer*/
    order: 2;
    }
    .singlecobro > div:last-child {
    order: 1;
    }
    .imgcobro {
        flex: auto;
        width: 100%;
    }
    .imgcobro img,
    .imgcobrodos {
        width: 100%;
        height: auto;
    }
    /*FOOTER*/    
    footer > div {
        display: flex;
        justify-content: center;
        padding-bottom: 12px;
    }
    .links-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0px;
    align-items: center;
    }
    .column-footer {
    display: flex;
    flex-wrap: wrap; /*esto no lo vimos en clase pero lo busque*/
    justify-content: center;
    width: 100%;
    }
    .column-footer ul {
    width: 40%; /*no se si es lo mejor pero dado de que deberia ser grid y no vimos grid en clase me lo permito :) */
    }
}